<h1>Add a new sighting:</h1>

<%= form_for [@animal, @sighting] do |f| %>
<%= f.label :date %>
<%= f.date_field :date %>
<%= f.label :latitude %>
<%= f.number_field :latitude, in: -90.0..90.0, step: 0.000001 %>
<%= f.label :longitude %>
<%= f.number_field :longitude, in: -180.0..180.0, step: 0.000001 %>
<%= f.label "Northwest" %>
<%= f.radio_button :region, "NW" %>
<%= f.label "Northeast" %>
<%= f.radio_button :region, "NE" %>
<%= f.label "Southeast" %>
<%= f.radio_button :region, "SE" %>
<%= f.label "Southwest" %>
<%= f.radio_button :region, "SW" %>
<%= f.label "Florida" %>
<%= f.radio_button :region, "Florida" %>
<%= f.label "Central" %>
<%= f.radio_button :region, "Central" %>
<p><%= f.submit %></p>
<% end %>
